
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

/*--------------------------------------------------------------------*/
/*___________________________navbar & home section____________________*/
/*--------------------------------------------------------------------*/

*{
 box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    /* position: relative; */
    top: 0;
    left:0;
    right: 0;
    z-index: 9999999999999;
}
h2{
    font-size:40px ;
    font-weight: bolder;
    font-family: 'Amiri', serif;
}

h3{
    font-size: 30px;
}

.main-color{
    color:#dc3545;
}

.line{
   background: #EF3D32;
   width: 72px;
   height: 2px;
   margin-top: 0px;
   position: absolute;
   top:50px;
   left: 130px;
}
.prev_button{
   display: block !important;
}
.next_button{
    display: block !important;
}

.label_skitter {
    z-index: 150;
    position: absolute;
    top: 60%;
    transform: translateY(-40%);
    left:20%;
    width: 100%;
    color:#fff;
    background: none;
    
}


.skitter .next_button {
    right: -53%;

}


.skitter > span{
    display: block;
    left:80% !important;
}
.skitter .info_slide_dots {
    position: relative;
    z-index: 0;
}
.skitter {
    
     background:none !important;
}



.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#ef3d32;
}
.sub-color{
    color: #000;
}
.navbar-light .navbar-brand {
    color:#ef3d32;
    font-size: 25px;
    font-weight: 700;
}

.navbar-light .navbar-brand:hover {
    color:#ef3d32;
    font-size: 25px;
    font-weight: 700;
}
/*------------------------------------------------------------*/
/*___________________________about section____________________*/
/*------------------------------------------------------------*/



.lines::before {
    content: "";
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0px;
    padding: 0.25rem 0 0.3125rem;
    width: 4.375rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.lines::after {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    background-color: #ff305b;
    bottom: 0.3125rem;
    height: 1px;
    width: 10rem;
}

.about-us p{
    font-size: 20px;
    color: grey;
    margin-top: 24px;
}
.about-us ul{
    list-style: none;
}
.about-us ul li{
    font-size: 18px;
    margin-top: 5px;
}
.about-us ul li::before{
    content: "\2022";
    color: red;
    font-weight: 800;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    
}

/*------------------------------------------------------------*/
/*___________________________theard section____________________*/
/*------------------------------------------------------------*/


.bg-donar{
    background-image: url("../images/doctor-bg.jpg");
    background-size: 100% 100%;
    position: relative;
    

}
.bg-donar::before{
    content: "";
    position: absolute;
    background: rgba(242,247,255,.94);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.item-status{
    position: relative;
    z-index: 5;
    padding: 10px;
       
}

.bg-need{
    background-image: url("../images/doctor-right-bg.jpg");
    background-size: 100% 100%;  
}
.bg-need::before{
    content: "";
    position: absolute;
    background: rgba(239,61,50,.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}


/*-----------------------------------------------------------------*/
/*___________________________Achievment section____________________*/
/*-----------------------------------------------------------------*/



.bg-color{
    background-color:#f1f1f1;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.item h4{
text-transform: capitalize;
}

.counter{
    font-size: 32px;
    color:#EF3D32;
    font-weight: 600;
}

.icon {
    border-radius: 0;
    font-size: 48px;
    line-height: 50px;
    margin: 20px 0;
    color: #333333;
    transition: all 0.3s ease-in-out;
     }

     .icon:hover{
        color: #EF3D32;
        transform: scale(1.3);
       
     }

  .item{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }


/*-------------------------------------------------------------------*/
/*___________________________testimonials section____________________*/
/*-------------------------------------------------------------------*/


.testimonial{
    background: url("../images/testimonials.webp") no-repeat;
    background-size: 100% 100%;
    background-position-y: 175px;
    width: 70%;
    }
    
    
    .testimonial .carousel-indicators{
        bottom: -40px;
    }
    .testimonial .carousel-indicators li{
        width: 12px;
        height: 12px;
        background-color: rgb(124, 121, 121);
        border-radius: 50%;
       
    }
    
    .caption_test{
       color: rgb(51, 51, 51);
        /* font-family: Anton; */
        line-height: 1.4;
        border-color: rgb(51, 51, 51);
        padding: 20px 0;
    }

    .member{
        padding-top:10px ;
    }
    .member-info{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .member-info img{
        width: 55px !important;
        border-radius: 55px;
        -webkit-border-radius: 55px;
        -moz-border-radius: 55px;
        -ms-border-radius: 55px;
        -o-border-radius: 55px;
}
    
    .member-info h3{
        margin-left: 10px;
    }
/*--------------------------------------------------------------*/
/*___________________________Contact section____________________*/
/*--------------------------------------------------------------*/
.content i{
    font-size: 35px;
    /* color: rgb(181, 33, 24); */
    color: #dc3545;
 
}

.icon-font{
    font-size: 28px;
}
/* .content div {
    margin-left: 20px;
} */

.content{
    display: flex;
    align-items: center;
    
}

.div-icon{
    margin-right: 20px;
}

form input {
    padding: 10px 15px;
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #ced4da;
}

.bg-contact{
    /* background-color: rgb(181, 33, 24); */
    background-color: #dc3545;
}

/*------------------------------------------------------------------*/
/*_____________________________login page___________________________*/
/*------------------------------------------------------------------*/

.loginPage, .signupPage{
        background-image: url("../images/pexels-pedro-figueras-681467.jpg");
        background-size: 100% 100%;
        font-family: 'Titillium Web', sans-serif; 
}

.login, .Signup{
    background-color: rgba(44, 43, 49, 0.5);
    color: #fff;
    width: 400px;

    
}

input{
    margin:10px 0 ;
    padding: 6px 12px;
    border-radius: 5px;
   
}

.login a ,.Signup a{
    text-decoration: none;
    color: #fff;
}

#errorMsg{
    display: none;
}

/*------------------------------------------------------------------*/
/*_____________________________for Search Layer___________________________*/
/*------------------------------------------------------------------*/
.SearchLayer{
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 99999999999999999999;
    background-color:rgba(0,0,0,.7);

} 


#close{
    top:20px;
    right:20px;
    cursor: pointer;
    transition:all .7s;
}
#close:hover{
    color:#EF3D32 !important;
}

.MainColor{
  color:rgb(14, 133, 231);
 
}
  .overFlow{
    overflow:hidden;
  }
 
  .imageHover{
    transition: 3s;
  }
  
  .imageHover:hover{
    transform:scale(1.1,1.1);
  }

/*------------------------------------------------------------------*/
/*_____________________________for Responsive___________________________*/
/*------------------------------------------------------------------*/

@media (max-width: 991px){
    .skitter .next_button {
        right: -15%;
    
    }
     
    .testimonial .carousel-indicators{
        bottom: -30px;
       
    }

    .member-info img{
        width: 45px!important;
        border-radius: 45px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .skitter .next_button {
        right: -26%;
    
    }
}

@media (max-width: 923px){
    .skitter .next_button {
        right: 0%;
    
    }
}

@media (max-width: 767px){
    .testimonial .carousel-indicators{
        bottom: -35px;
       
    }

    .member-info img{
        width: 35px!important;
        border-radius: 35px;
    }
}

